<h4>
  <%= "#{pluralize(model.errors.count, "error")} prohibited from being saved:" %>
</h4>
<ul class="errors-list">
  <% model.errors.full_messages.each do |msg| %>
    <li class="errors-list-item">
      <%= msg %>
    </li>
  <% end %>
</ul>